    <html>
        <head>
            <title>Esta es la web del Eze</title>
        </head>
        <body>
            <div>
                <h1><a href="">La web del Eze</a></h1>
            </div>

            <div>
                <p>published: 23.02.2017, 6:40</p>
                <h2><a href="">Esto es un posteo</a></h2>
                <p>Que dice cosas nada interesantes</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Pero acá</a></h2>
                <p>Ya es otra cosa, las cosas comienzan a tener otro sentido.</p>
            </div>
        </body>
    </html>
